*{
	padding: 10;
	margin: 0;
	font-family: sans-serif;

}

body{
	background: url("../../Images/bg.jpg") no-repeat;
	
	background-size: cover;
	color: fff;
}

.cadastroFuncionario{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	

}

.cadastroFuncionario h1 {
	font-size : 25px;
	text-align: center;
	text-transform: uppercase;
	margin: 40px 0;


}
.cadastroFuncionario p {
	font-size: 20px;
	margin: 15px 0;
}

.cadastroFuncionario input{
	font-size: 16px;
	padding: 15px 10px;
	width: 100%;
	
	border-radius: 5px;
	outline: none;


}

.cadastroFuncionario button[id="cadastrarbtn"] {
	font-size: 18px;
	font-weight: bold;
	margin: 20px 0;
	padding: 10px 15px;
	width: 50%;
	border:  1;
	border-radius: 5px;
	background-color: #fff;


}

.cadastroFuncionario button[id="cadastrarbtn"]:hover{
	color: red;
}

button[id="voltarbtn"] {
	font-size: 18px;
	font-weight: bold;
	margin: 20px 1200px;
	padding: 2px 4px;
	width: 10%;
	border-radius: 5px;
	background-color: #fff;
	style="background-color: #e8ba0f; border:1px solid #dcdcdc;"
  
}
button[id="novoCadastrobtn"] {
	font-size: 18px;
	font-weight: bold;
	margin: 20px 0;
	padding: 2px 4px;
	width: 10%;
	border-radius: 5px;
	background-color: #fff;
	style="background-color: #e8ba0f; border:1px solid #dcdcdc;"
  
}
